html, body {
    margin: 0;
    padding: 0;
}
html {
    background: #6b6666;
    background-image: url(carro-sendo-cuidado-na-oficina.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
        background-image: url(Backbody.jpg); 
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        width: 100vw;
        max-width: 650px;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0 0 10px #000000aa;
        padding-bottom: 15px;
}
h3{
    color: black;
    background-color: gray;
    margin-right: 200px;
    margin-left: 200px;
    border-radius: 30px;
}

h4{
    color: black;
    background-color: gray;
    margin-right: 200px;
    margin-left: 200px;
    border-radius: 30px;
}

h5{
    color: black;
    background-color: white;
    border-radius: 10px;
    margin-right: 200px;
    margin-left: 200px;
}

div{
    color: black;
    background-color: gray;
    border-radius: 30px;
}